footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  z-index: 1;
}

@media screen and (max-height: 812px) {
   p{
    font-size: 7px;
   } 
}

@media screen and (max-width:375px){
  footer{
    position: fixed;
   
  }
  p{
    font-size: 7px;
  }  
  
}
