<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href="#">{{ title }}
          <i class="fas fa-tools"></i>
          <img src="https://www.countryflags.io/cr/shiny/32.png">
        </a>
      </nav>
    </div>
  </nav>
  <nav class="sidenav">
    <div class="wrapper">
      <button type="button" data-toggle="modal" data-target="#modalDetail" style="margin-bottom: 5%;" name="Alajuela"
        #bAlajuela [value]="2" class="btn btn-primary item"
        (click)="showCantones(this.bAlajuela.value, this.bAlajuela.name)">
        <!-- {{ c.canton }}<span class="badge badge-dark">Casos: {{ c[dataDate] }}</span> -->
        Alajuela <span class="badge badge-light"> {{ cantonesA.length }} </span>
      </button>
      <button type="button" data-toggle="modal" data-target="#modalDetail" style="margin-bottom: 5%;" name="San Jose"
        #bSj [value]="1" class="btn btn-primary item" (click)="showCantones(this.bSj.value,this.bSj.name)">
        San Jose <span class="badge badge-light"> {{ cantonesS.length }} </span>
      </button>
      <button type="button" data-toggle="modal" data-target="#modalDetail" style="margin-bottom: 5%;" name="Cartago"
        #bCartago [value]="3" class="btn btn-primary item"
        (click)="showCantones(this.bCartago.value,this.bCartago.name)">
        Cartago <span class="badge badge-light"> {{ cantonesG.length }} </span>
      </button>
      <button type="button" data-toggle="modal" data-target="#modalDetail" style="margin-bottom: 5%;" name="Heredia"
        #bHeredia [value]="4" class="btn btn-primary item"
        (click)="showCantones(this.bHeredia.value,this.bHeredia.name)">
        Heredia <span class="badge badge-light"> {{ cantonesH.length }} </span>
      </button>
      <button type="button" data-toggle="modal" data-target="#modalDetail" style="margin-bottom: 5%;" name="Guanacaste"
        #bGuana [value]="5" class="btn btn-primary item" (click)="showCantones(this.bGuana.value,this.bGuana.name)">
        Guanacaste <span class="badge badge-light"> {{ cantonesG.length }} </span>
      </button>
      <button type="button" data-toggle="modal" data-target="#modalDetail" style="margin-bottom: 5%;" name="Puntarenas"
        #bPuntare [value]="6" class="btn btn-primary item"
        (click)="showCantones(this.bPuntare.value,this.bPuntare.name)">
        Puntarenas <span class="badge badge-light"> {{ cantonesP.length }} </span>
      </button>

      <button type="button" data-toggle="modal" data-target="#modalDetail" style="margin-bottom: 5%;" name="Limon"
        #bLimon [value]="7" class="btn btn-primary item" (click)="showCantones(this.bLimon.value,this.bLimon.name)">
        Limon <span class="badge badge-light"> {{cantonesL.length}} </span>
      </button>
    </div>
  </nav>

  <body>
    <app-map></app-map>
  </body>

  <!-- Modal -->
  <div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ provincia }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Fecha</h6>
          <p><svg class="bi bi-calendar" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M14 0H2a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"
                clip-rule="evenodd" />
              <path fill-rule="evenodd"
                d="M6.5 7a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd" />
            </svg>{{ dataDate }}</p>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Canton</th>
                <th scope="col">Casos</th>
              </tr>
            </thead>
            <tbody *ngFor="let c of cantonesModal">
              <tr>
                <td>{{ c.canton }}</td>
                <td>{{ c[dataDate] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
