<app-main-dashboard></app-main-dashboard>
<div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
</div>
<div  id="generalStats" class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">General Stats</div>
  <div class="card-body">
    <p class="card-text"><b>Date:</b> {{ lastChecked | date: 'dd-MMMM-yyyy' }} </p>
    <p class="card-text"><b>Cases:</b> {{ cases }} </p>
    <p class="card-text"><b>Total recovered: </b>  {{ totalRecovered }}   </p>
    <p class="card-text"><b>Total deaths: </b> {{ deaths}} </p>
  </div>
</div>
<div id="showMarkers" class="btn-group-vertical">
  <button type="button" class="btn btn-primary" id="exampleCheck1" (click)="showDistricts()">Main Cities View</button>
  <br>
  <button type="button" class="btn btn-primary" id="exampleCheck2" (click)="showProvinces()">Provinces View</button>
</div>
