.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 50px;
    z-index: 0;
  }

  .map-frame {
    border: 2px solid black;
    height: 100%;
  }

  #map {
    position: relative;
    height: 85%;
  }

#generalStats {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 1;
  text-indent: 10px;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: left;
  width: 350px;
  height: 250px;
}
