.map-container {
    position: fixed;
    top:2%;
    left:11%;
    right: 1%;
    bottom: 1%;
    margin-top: 50px;
    z-index: 0;
}

  .map-frame {
    border: 2px solid black;
    height: 100%;
  }

  #map {
    position: relative;
    height: 85%;
  }

#generalStats {
  position: absolute;
  top: 10%;
  right: 5%;
}

@media screen and (min-height: 667px) {
  #generalStats{
    font-size: 8px;
  }
}

@media screen and (min-width:375px){
  #generalStats{
    font-size: 8px;
  }
}

#showMarkers {
  position: absolute;
  top:60px;
  right:25px;
}

.info {
  padding: 6px 8px;
  font:Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
